<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
		
	<dubbo:application name="imooc-dubbo-item-service"></dubbo:application>
	<dubbo:registry protocol="zookeeper" address="192.168.1.110:2181"></dubbo:registry>
	<dubbo:protocol name="dubbo" port="20880"></dubbo:protocol>
	<dubbo:service retries="3" interface="com.imooc.item.service.ItemsService" 
		ref="itemsService"></dubbo:service>
	
</beans>
